<h2>Editing Book</h2>
<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>

        <%= f.label :title %></br>
        <%= f.text_field :title %>
     <p><%= f.label :body %></br>
        <%= f.text_area :body %><p/>
        <%= f.submit 'Uodate Book' %>
    <p><%= link_to("Show","/book/") %>｜
        <%= link_to("Back","/books/index") %></p>

<% end %>