<%= form_with model:@book, url:'/books', local:true do |f| %>
<h3>Title:<%= @book.title %></h3>
<h3>Body:<%= @book.body %></h3>
<%= link_to "Edit", edit_book_path(@book.id) %>｜
<%= link_to("Back","/books/index") %>
<% end %>
